<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="57x57" href="../static/images/iconset/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/images/iconset/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/images/iconset/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/images/iconset/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/images/iconset/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/images/iconset/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/images/iconset/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/images/iconset/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/iconset/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../static/images/iconset/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/iconset/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/images/iconset/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/iconset/favicon-16x16.png">
  <link rel="manifest" href="../static/images/iconset/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel='stylesheet' href='../static/style.css'>
  <title>What's the sushi?!</title>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <h1 class='title'>What's the sushi?! 🍣</h1>
    <p>
      Are you eating a <strong>salmon sushi</strong>, a <strong>tuna sushi</strong> or a <strong>saba sushi</strong>? Let the AI guess!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload a sushi</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div id='result'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Ask the AI</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
