<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <h1 class='title'>Know your sushis! 🍣</h1>
    <p>
      Are you eating a <strong>salmon sushi</strong>, a <strong>tuna sushi</strong> or a <strong>saba sushi</strong>?
      Upload a picture of your sushi and let the AI guess!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Upload a sushi</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Ask the AI</button>
      </div>
      <div id='result'>
      </div>
    </div>
  </div>
</div>
</body>
</html>
