aiofiles==0.4.0
aiohttp==3.5.4
asyncio==3.4.3
https://download.pytorch.org/whl/cpu/torch-1.5.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.6.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
fastai==1.0.61
numpy
pillow~=6.0
python-multipart==0.0.5
starlette==0.12.0
uvicorn==0.7.1
