body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

.no-display {
    display: none;
}

.center {
    padding: 0 24px;
    text-align: center;
}

.title {
  font-size: 40px;
  margin: 24px 0;
}

.content {
  margin: 24px 0;
}

.analyze {
  position: fixed;
  bottom: 24px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.upload-label {
  margin-top: 16px;
  font-size: 12px;
}

#result {
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

#result p{
  margin: 0;
  font-weight: bolder;
}

#result ul{
  text-align: left;
  padding: 0;
  list-style: none;
  margin: 0;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #FF4F64;
    font-size: 13px;
    color: #FF4F64;
}

button.analyze-button {
    width: 200px;
    height: 56px;
    border: solid 1px #FF4F64;
    border-radius: 2px;
    background-color: #FF4F64;
    font-size: 24px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}

@media (max-width: 500px) {
  .analyze {
    position: fixed;
    bottom: 0px;
    left: 0;
  }
  button.analyze-button {
    width: 100%;
    height: 80px;
  }
}
